teste.cpp
montador
montador.exe
tradutor.exe
tradutor

.vscode/settings.json
teste.asm
teste.obj
teste.pre
Montador.cpp
Montador.h
translator.cpp
.gitignore
aaaa/a.asm
aaaa/b.asm
aaaa/c.asm
aaaa/d.asm
aaaa/lerint.asm
aaaa/